


@import url('https://fonts.googleapis.com/css2?family=Karla:wght@300;400;500;600;700;800&display=swap');
@import "../fonts/Menlo-Regular.ttf";
 
@function strip-unit($value) {
    @return $value / ($value * 0 + 1);
     }
    @mixin fluid-type($min-vw, $max-vw, $min-font-size, $max-font-size) {
 
    $u1: unit($min-vw);
    $u2: unit($max-vw);
    $u3: unit($min-font-size);
    $u4: unit($max-font-size);
 


 
    @if $u1 == $u2 and $u1 == $u3 and $u1 == $u4 {
 
        & {
 
        font-size: $min-font-size;
 
        @media screen and (min-width: $min-vw) {
 
            font-size: calc(#{$min-font-size} + #{strip-unit($max-font-size - $min-font-size)} * ((100vw - #{$min-vw}) / #{strip-unit($max-vw - $min-vw)}));
 
        }
 
        @media screen and (min-width: $max-vw) {
 
            font-size: $max-font-size;
 
        }
 
        }
 
    }
 
}
 


 
*{
 
    transition: all .3s; 
 
}
 


 
$min_width: 320px; //IPHONE5
 
$max_width: 1200px; //MAX BOOTSTRAP CONTAINER
 
$min_font: 16px;
 
$max_font: 24px;         
 


 

$Karla : 'Karla', sans-serif;
$Menlo : 'Menlo', sans-serif;

.container-fullwidth {
    width: 100%;
    padding-right: var(--bs-gutter-x,.75rem);
    padding-left: var(--bs-gutter-x,.75rem);
    margin-right: auto;
    margin-left: auto;
    width: 100%;
    .top-bar{
        padding-left: 2rem;
        padding-right: 2rem;
        padding-top: 0px;
        padding-bottom: 0px;
        .top_social-icon {
            width: 100%;
            justify-content: right;
            text-align: right;
            font-size: 24px;
            padding: 0;
            margin: 0;
            min-height: 40px;
        }
    }
    .menu_header{
        padding-bottom: 0px;
        padding-top: 0px;
    } 
    .footer-section{
        padding-top: 20px;
    }
}
.header-bar.sticky_header {
    position: sticky;
    top: 0;
    right: 0;
    left: 0;
    z-index: 1030;
}
.header-bar{
    background-color: #27343E;
    .top-bar{
        background-color: #0D1114;
        color: #C9C9C9;
        justify-content: end;
        min-height: 40px;
        font-size: 20px;
        .iconify{
            margin: 0px 0px 0px 15px;
        }
    }
    .site-logo {
        min-width: 250px;
    }
    .menu_header {
        margin: 0;
    }
    .navbar{
        .hntr-logo{
            height: 1vh;
            color: #FA9F09;
            font-family: 'Menlo';
            font-weight: 700;
            margin-bottom: 30px;
            font-size: 40px;
            .brand-logo-img{
                max-width: 60px;
                width: 100%; 
            }
        }
        .hntr-logo:hover{
            color: #FA9F09;
        }
        .nav-link{
            color: #C9C9C9 !important;
            font-weight: 700;
            padding: 35px 20px !important;
            font-family: 'Menlo';
            font-size: 20px;
            text-transform: uppercase;
            margin-right: 60px;
        }
        .buy-token-btn.btn {
            padding: 10px 20px !important;
            align-items: center;
            align-self: center;
        }
        .login-btn.btn {
            padding: 10px 20px !important;
            align-items: center;
            align-self: center;
        }
        .active{
            color: #FA9F09;
            border-bottom: 4px solid #FA9F09;
        }
        .buy-token-btn{
            background-color: #FA9F09;
            font-weight: 700;
            color: #fff;
            border-radius: 10px;
            border: 2px solid #FA9F09;
            margin-right: 10px;
        }
        .login-btn{
            background-color: #0D1114;
            border: 2px solid #FA9F09;
            color: #FA9F09;
            border-radius: 10px;
        }
    }
}


footer{
    // margin-top: 100vh;

    .footer-banner-section{
        background-image: url("../images/footer_banner.png");
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        padding: 10% 0%;
        .content-container{
            width: 50%;
            margin: auto;
            min-height: max-content;
            background-color:#212C34;
            border-radius: 5px;
            text-align: center;
            border: 1px solid #DD8F21;
            border-radius: 12px;
            padding: 5%;
            @media screen and (max-width:1200px) {
                width: 70%;
                padding: 4%;
            }
            @media screen and (max-width:991px) {
                width: 90%;
                padding: 3%;
            }
            @media screen and (max-width:575px) {
                width: 95%;
                padding: 2%;
            }
            .footer-banner_h2{
                color: #C8C8C8;
                font-weight: bold;
                font-size: 32px;
            }
            .footer-banner_colored_h3{
                color: #FA9F09;
                font-weight: bold;
                font-size: 36px;
                padding: 1vh 0vw;
            }
            .footer-banner_paragraph{
                color: #FFF;
                padding: 1vh 7vw;
                margin: auto;
                font-weight: 500;
            }
            .footer-banner_color_btn{
                background-color: #F9AE24;
                color: #FFF;
                border-radius: 5px;
                font-weight: bold;
                border: 2px solid #F9AE24;
                margin: 0px 5px;
            }
            .footer-banner_red_btn{
                background-color: #A7292A;
                color: #FFF;
                border-radius: 5px;
                font-weight: bold;
                border: 2px solid #A7292A;
                margin: 0px 5px;
            }
        }
    }

    .footer-section{
        padding-left: 2rem;
        padding-right: 2rem;
        padding-top: 20px;
        background-color: #FA9F09;
        .footer-hntr-logo{
            color: #FFF;
            font-family: 'Menlo';
            font-weight: bold;
            font-size: 45px;  
        }
        .footer_widget_heading.white {
            color: #FFF;
        }
        .footer_widget_heading {
            font-size: 21px;
            margin-bottom: 25px;
            font-weight: 500;
        }
       
        ul.footer-menu {
            list-style: none;
            margin: 0;
            padding: 0;
            li {
                margin: 0 0 10px 0;
                .footer-items{
                    color: #27343E;
                    text-decoration: none;
                    font-size: 16px;
                    font-weight: 500;
                }
            }
        }
        .newsletter-col{
            .newsletter-input{
                border-radius: 5px;
                border: none;
                padding: 10px 15px;
                width: 100%;
            }
            .footer-signup{
                background-color: #B72E2F;
                color: #fff !important;
                font-weight: 700;
            }
            .iconify-space-around{
                justify-content: space-between;
                .iconify{
                    color: #27343E;
                    font-size: 45px;
                }
            }
            
        }
        
    }
    .footer-bar{
        background-color: #0D1114;
        color: #C9C9C9;
        display: flex;
        padding-left: 2rem;
        padding-right: 2rem;
        padding-top: 1rem;
        justify-content: space-between;
        .footer-bar-links{
            margin-right: 20px; 
            text-decoration: none;
        }
        
    }
}

/*************************************  Banner Css Starts ****************************************/
.banner-section{
    background-image: url("../images/hero_banner_background.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    min-height: 50vh;
    display: grid;
    align-items: center;
    text-align: center;
    .banner_h2{
        color: #C8C8C8;
        font-weight: bold;
        font-size: 32px;
    }
    .banner_colored_h3{
        color: #FA9F09;
        font-weight: bold;
        font-size: 36px;
        padding: 1vh 0vw;
    }
}
/********************************** Hero Banner Css Ends** ****************************************/

/************************************* Hero Section Css Start *************************************/
.hero-content-section{
    background: #0D1114;
    .hero-content{
        max-width: 75%;
        margin: auto;
        padding: 30px;
        text-align: center;
        .colored-h2{
            color: #F99F09;
            font-weight: bold;
            margin: 25px 0px;
        }
        .content-p{
            color: #E7E7E8;
        }
        .colored-h4{
            color: #F99F09;
            font-weight: bold;
            margin: 10px 0px;
        }
        .white-h2{
            color: #F1F1F1;
            font-weight: bold;
            font-size: 42px;
        }
    }
}
/************************************  Hero Section Css Ends  *******************************************/

// ***********************top section of carousel************
.carousel-top-section{
    background: #27343E;
    .cts-content{
        // background-color: #0D1114;
        backdrop-filter: blur(8px);
        background-color: rgba(3, 3, 3, 0.88);
        border: 1px solid #DD8F21;
        border-radius: 12px 12px 0px 0px;
        border-bottom: none;
        max-width: 75%;
        margin: auto;
        padding: 30px;
        text-align: center;
        .colored-h2{
            color: #F99F09;
            font-weight: bold;
            margin: 25px 0px;
        }
        .content-p{
            color: #E7E7E8;
        }
        .content-learn-more{
            font-family: Menlo;
            font-style: normal;
            font-weight: normal;
            font-size: 22px;
            color: rgba(249,187,61,1);
        }
    }
}


// *******************carousel bottom section*********

.carousel-bottom-section{
    .cbs-content{
        // background-color: #0D1114;
        backdrop-filter: blur(8px);
        background-color: rgba(3, 3, 3, 0.88);
        border: 1px solid #DD8F21;
        border-radius: 0px 0px 12px 12px;
        border-top: none;
        max-width: 75%;
        @media screen and (max-width:767px) {
            max-width: 100%;
            margin: 0%;
        }
        margin: auto;
        padding: 30px;
        text-align: center;
        .colored-h2{
            color: #F99F09;
            font-weight: bold;
            margin: 25px 0px;
        }
        .content-p{
            color: #E7E7E8;
        }
        .content-learn-more{
            font-family: Menlo;
            font-style: normal;
            font-weight: normal;
            font-size: 22px;
            color: rgba(249,187,61,1);
        }
    }
}



/************************************  Carousel Css Ends  *******************************************/
.carousel{
    .custom_slider {
        max-width: 90%;
        margin: 0 auto;
    }
}

 
/************************************  Carousel Css Ends  *******************************************/ 
.carousel{ 
    background: #27343E;
    .custom_slider { 
        max-width: 90%; 
        margin: 0 auto; 
    } 
    #product_slider{ 
        .carousel-card{ 
            width: 100%; 
            float: left; 
            text-align: center; 
            align-items: center; 
            align-self: center; 
            padding: 35px 30px; 
            .carousel-card_container{ 
                background: radial-gradient(circle, rgba(95,123,144,1) 0%, rgba(13,17,20,1) 100%); 
                border-radius: 20px; 
                width: 100%; 
                float: left; 
                .carousel-img_section{ 
                    width: 100%; 
                    float: left; 
                    text-align: center; 
                    align-items: center; 
                    align-self: center; 
                    position: relative; 
                    .carousel-img{ 
                        width: 100%; 
                        position: relative; 
                    } 
                    .product_tag { 
                        position: absolute; 
                        top: 20px; 
                        left: 20px; 
                        color: #fff; 
                        background-color: rgba(0,0,0,0.7); 
                        padding: 10px 22px; 
                        border-radius: 10px; 
                        font-size: 18px; 
                    } 
                    .product_title{ 
                        position: absolute; 
                        bottom: 20px; 
                        right: 20px; 
                        color: #fff; 
                        font-size: 30px; 
                    } 
                     
                } 
                .carousel-footer_section { 
                    width: 100%; 
                    background: #212b32; 
                    float: left; 
                    padding: 20px; 
                    align-items: center; 
                    align-self: center; 
                    border-radius: 0 0 20px  20px; 
                    .btn-hntr.btn-yellow { 
                        background: #FA9F09; 
                        align-items: center; 
                        align-self: center; 
                        border-radius: 20px; 
                        color: #fff; 
                        line-height: 0; 
                        margin: 0; 
                        padding: 5px 20px; 
                        .im-fluid { 
                            max-width: 30px; 
                        } 
                        span { 
                            font-size: 40px; 
                            margin-left: 7px; 
                            align-items: center; 
                            align-self: center; 
                            margin-top: 8px; 
                        } 
                    } 
                    .product_price{ 
                        align-items: center; 
                        align-self: center; 
                        border-radius: 20px; 
                        color: #00ff00; 
                        font-size: 30px; 
                        line-height: 1; 
                        margin: 0;
                        padding: 5px 20px; 
                    } 
                    .btn-buynow.btn-red { 
                        background: #FF0000; 
                        align-items: center; 
                        align-self: center; 
                        border-radius: 20px; 
                        color: #fff; 
                        font-size: 30px; 
                        line-height: 1; 
                        margin: 0; 
                        padding: 5px 20px; 
                    } 
                } 
            } 
            .carousel-card_container:hover { 
                transform: scale(1.1);
                border: 1px solid #F9AE24; 
            } 
        } 
    } 
 
    #product_slider2{ 
        .carousel-card{ 
            width: 100%; 
            float: left; 
            text-align: center; 
            align-items: center; 
            align-self: center; 
            padding: 35px 20px; 
            .carousel-card_container{ 
                background: radial-gradient(circle, rgba(95,123,144,1) 0%, rgba(13,17,20,1) 100%); 
                border-radius: 20px; 
                width: 100%; 
                float: left; 
                
                .carousel-img_section{ 
                    width: 100%; 
                    float: left; 
                    text-align: center; 
                    align-items: center; 
                    align-self: center; 
                    position: relative; 
                    .carousel-img{ 
                        width: 100%; 
                        position: relative; 
                    } 
                    .product_tag { 
                        position: absolute; 
                        top: 20px; 
                        left: 20px; 
                        color: #fff; 
                        background-color: rgba(0,0,0,0.7); 
                        padding: 10px 22px; 
                        border-radius: 10px; 
                        font-size: 16px; 
                    } 
                    .product_title{ 
                        position: absolute; 
                        bottom: 10px; 
                        right: 20px; 
                        color: #fff; 
                        font-size: 25px; 
                    } 
                     
                } 
                .carousel-footer_section { 
                    width: 100%; 
                    background: #212b32; 
                    float: left; 
                    padding: 20px; 
                    align-items: center; 
                    align-self: center; 
                    border-radius: 0 0 20px  20px; 
                    .btn-hntr.btn-yellow { 
                        background: #FA9F09; 
                        align-items: center; 
                        align-self: center; 
                        border-radius: 20px; 
                        color: #fff; 
                        line-height: 0; 
                        margin: 0; 
                        padding: 5px 20px; 
                        .im-fluid { 
                            max-width: 20px; 
                        } 
                        span { 
                            font-size: 20px; 
                            margin-left: 7px; 
                            align-items: center; 
                            align-self: center; 
                            margin-top: 8px; 
                        } 
                    } 
                    .product_price{ 
                        align-items: center; 
                        align-self: center; 
                        border-radius: 20px; 
                        color: #00ff00; 
                        font-size: 20px; 
                        line-height: 1; 
                        margin: 0; 
                        padding: 5px 20px; 
                    } 
                    .btn-buynow.btn-red { 
                        background: #FF0000; 
                        align-items: center; 
                        align-self: center; 
                        border-radius: 20px; 
                        color: #fff;
                        font-size: 20px; 
                        line-height: 1; 
                        margin: 0; 
                        padding: 5px 20px; 
                    } 
                } 
            } 
            .carousel-card_container:hover { 
                transform: scale(1.1); 
                border: 1px solid #F9AE24;
            } 
        } 
    } 
     
    .owl_custom-nav { 
        position: absolute; 
        top: 0; 
        width: 100%; 
        height: 100%; 
        .owl_custom-prev { 
            background-color: rgba(0,0,0, 0.4); 
            height: 100%; 
            left: 0; 
            position: absolute; 
            min-width: 80px; 
            align-items: center; 
            align-self: center; 
            cursor: pointer; 
            overflow: hidden; 
            z-index: 999; 
            .btn-triangle-left { 
                position: absolute; 
                top: 50%; 
                align-items: center; 
                align-self: center; 
                left: 20px; 
                width: 0; 
                height: 0; 
                border-top: 25px solid transparent; 
                border-right: 20px solid #eeeeee; 
                border-bottom: 25px solid transparent; 
                outline: none; 
                padding: 0; 
            } 
        } 
        .owl_custom-prev:hover { 
            background-color: rgba(0,0,0, 0.9); 
        } 
        .owl_custom-next { 
            background-color: rgba(0,0,0, 0.4); 
            height: 100%; 
            right: 0; 
            position: absolute; 
            min-width: 80px; 
            align-items: center; 
            align-self: center; 
            cursor: pointer; 
            overflow: hidden; 
            z-index: 999; 
            .btn-triangle-right { 
                position: absolute; 
                top: 50%; 
                align-items: center; 
                align-self: center; 
                right: 20px; 
                width: 0; 
                height: 0; 
                border-top: 25px solid transparent; 
                border-left: 20px solid #eeeeee; 
                border-bottom: 25px solid transparent; 
                outline: none; 
                padding: 0; 
            } 
        } 
        .owl_custom-next:hover { 
            background-color: rgba(0,0,0, 0.9); 
        } 
    } 
} 
.owl-nav { 
    display: none; 
} 
.owl-dots{ 
    display: none; 
} 
/************************************  Carousel Css Ends  *******************************************/

// **************************collab brands**************
.s_collabSection{
    // background: #27343E;
    // padding: 5% 0%;
      
    .headingCollab{
        font-family: Menlo;
        font-style: normal;
        font-weight: bold;
        font-size: 36px;
        color: rgba(201,201,201,1);
        text-align: center;
        text-transform: uppercase;
        padding-top: 30px;
    }
    .brands-wo-carousel{
        @media screen and (max-width:767px) {
        display: none;
        }
    }
   .collabPartners{
     
       display: flex;
       flex-wrap: wrap;
       justify-content: space-evenly;
       padding-top: 30px;

    .brand_logos{
        width: 350px;
    }
   }
}

//     // *****************************footer********
// footer{
//         // margin-top: 100vh;
      
//     .footer-banner-section{
//         background-image: url("../images/footer_banner.png");
//         background-size: cover;
//         background-position: center;
//         background-repeat: no-repeat;
//         padding: 10% 0%;
//             .content-container{
//                 width: 50%;
//                 margin: auto;
//                 min-height: max-content;
//                 // backdrop-filter: blur(8px);
//                 background-color:#212C34;
//                 border-radius: 5px;
//                 text-align: center;
//                 border: 1px solid #DD8F21;
//                 border-radius: 12px;
//                 padding: 5%;
//                 .footer-banner_h2{
//                     color: #C8C8C8;
//                     font-weight: bold;
//                     font-size: 32px;
//                 }
//                 .footer-banner_colored_h3{
//                     color: #FA9F09;
//                     font-weight: bold;
//                     font-size: 36px;
//                     padding: 1vh 0vw;
//                 }
//                 .footer-banner_paragraph{
//                     color: #FFF;
//                     padding: 1vh 7vw;
//                     margin: auto;
//                     font-weight: 500;
//                 }
//                 .carousel-footer_section {
//                     width: 100%;
//                     background: #212b32;
//                     float: left;
//                     padding: 20px;
//                     align-items: center;
//                     align-self: center;
//                     border-radius: 0 0 20px  20px;
//                     .btn-hntr.btn-yellow {
//                         background: #FA9F09;
//                         align-items: center;
//                         align-self: center;
//                         border-radius: 20px;
//                         color: #fff;
//                         line-height: 0;
//                         margin: 0;
//                         padding: 5px 20px;
//                         .im-fluid {
//                             max-width: 30px;
//                         }
//                         span {
//                             font-size: 40px;
//                             margin-left: 7px;
//                             align-items: center;
//                             align-self: center;
//                             margin-top: 8px;
//                         }
//                     }
//                     .product_price{
//                         align-items: center;
//                         align-self: center;
//                         border-radius: 20px;
//                         color: #00ff00;
//                         font-size: 30px;
//                         line-height: 1;
//                         margin: 0;
//                         padding: 5px 20px;
//                     }
//                     .btn-buynow.btn-red {
//                         background: #FF0000;
//                         align-items: center;
//                         align-self: center;
//                         border-radius: 20px;
//                         color: #fff;
//                         font-size: 30px;
//                         line-height: 1;
//                         margin: 0;
//                         padding: 5px 20px;
//                     }
//                 }
//             }
//             .carousel-card_container:hover {
//                 transform: scale(1.1);
//             }
//         }
//     }

//     #product_slider2{
//         .carousel-card{
//             width: 100%;
//             float: left;
//             text-align: center;
//             align-items: center;
//             align-self: center;
//             padding: 35px 20px;
//             .carousel-card_container{
//                 background: radial-gradient(circle, rgba(95,123,144,1) 0%, rgba(13,17,20,1) 100%);
//                 border-radius: 20px;
//                 width: 100%;
//                 float: left;
//                 .carousel-img_section{
//                     width: 100%;
//                     float: left;
//                     text-align: center;
//                     align-items: center;
//                     align-self: center;
//                     position: relative;
//                     .carousel-img{
//                         width: 100%;
//                         position: relative;
//                     }
//                     .product_tag {
//                         position: absolute;
//                         top: 20px;
//                         left: 20px;
//                         color: #fff;
//                         background-color: rgba(0,0,0,0.7);
//                         padding: 10px 22px;
//                         border-radius: 10px;
//                         font-size: 16px;
//                     }
//                     .product_title{
//                         position: absolute;
//                         bottom: 10px;
//                         right: 20px;
//                         color: #fff;
//                         font-size: 25px;
//                     }
                    
//                 }
//                 .carousel-footer_section {
//                     width: 100%;
//                     background: #212b32;
//                     float: left;
//                     padding: 20px;
//                     align-items: center;
//                     align-self: center;
//                     border-radius: 0 0 20px  20px;
//                     .btn-hntr.btn-yellow {
//                         background: #FA9F09;
//                         align-items: center;
//                         align-self: center;
//                         border-radius: 20px;
//                         color: #fff;
//                         line-height: 0;
//                         margin: 0;
//                         padding: 5px 20px;
//                         .im-fluid {
//                             max-width: 20px;
//                         }
//                         span {
//                             font-size: 20px;
//                             margin-left: 7px;
//                             align-items: center;
//                             align-self: center;
//                             margin-top: 8px;
//                         }
//                     }
//                     .product_price{
//                         align-items: center;
//                         align-self: center;
//                         border-radius: 20px;
//                         color: #00ff00;
//                         font-size: 20px;
//                         line-height: 1;
//                         margin: 0;
//                         padding: 5px 20px;
//                     }
//                     .btn-buynow.btn-red {
//                         background: #FF0000;
//                         align-items: center;
//                         align-self: center;
//                         border-radius: 20px;
//                         color: #fff;
//                         font-size: 20px;
//                         line-height: 1;
//                         margin: 0;
//                         padding: 5px 20px;
//                     }
//                 }
//             }
//             .carousel-card_container:hover {
//                 transform: scale(1.1);
//             }
//         }
//     }
    
//     .owl_custom-nav {
//         position: absolute;
//         top: 0;
//         width: 100%;
//         height: 100%;
//         .owl_custom-prev {
//             background-color: rgba(0,0,0, 0.4);
//             height: 100%;
//             left: 0;
//             position: absolute;
//             min-width: 80px;
//             align-items: center;
//             align-self: center;
//             cursor: pointer;
//             overflow: hidden;
//             z-index: 999;
//             .btn-triangle-left {
//                 position: absolute;
//                 top: 50%;
//                 align-items: center;
//                 align-self: center;
//                 left: 20px;
//                 width: 0;
//                 height: 0;
//                 border-top: 25px solid transparent;
//                 border-right: 20px solid #eeeeee;
//                 border-bottom: 25px solid transparent;
//                 outline: none;
//                 padding: 0;
//             }
//         }
// }


// ************************ home page banner ***********

// ********************************home page banner*************
.Home-page-banner-section{
    background-image: url("../images/andrew-childress-ZX3xxcsl8C4-unsplash.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;

    .gun-bg-container{
        background-image: url("../images/banner_gun.png");
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        padding: 100px;
        @media screen and (max-width:767px) {
            padding: 10px;
            
        }
        .content-container{
            @media screen and (max-width:767px) {
                width: 100%;
                margin: 0%;
            }
            width: 80%;
            margin: auto;
            // background-color: #5F7B90;
            min-height: max-content;
            // filter: blur(8px);
            backdrop-filter: blur(8px);
            background-color: rgba(255, 255, 255, 0.3);
            border-radius: 5px;
            text-align: center;
            border: 1px solid #DD8F21;
            border-radius: 12px;
            padding: 5%;
            .Home-page-banner_h2{
                color: #C8C8C8;
                font-weight: bold;
                font-size: 32px;
            }
            .Home-page-banner_colored_h3{
                color: #FA9F09;
                font-weight: bold;
                font-size: 36px;
                padding: 1vh 0vw;
            }
            .Home-page-banner_paragraph{
                color: #FFF;
                padding: 1vh 7vw;
                margin: auto;
                font-weight: 500;
            }
            .Home-page-banner_buy_btn{
                background-color: #A7292A;
                color: #FFF;
                border-radius: 5px;
                font-weight: bold;
                border: 2px solid #A7292A;
                margin: 0px 5px;
            }
            .Home-page-banner_learn_btn{
                background: transparent;
                border: 2px solid #fff;
                color: #FFF;
                font-weight: bold;
                margin: 0px 5px;
                border-radius: 5px;
            }
        }
    }
}



// **************************article section***********

.article-section{
    background-color: #0D1114;
    .hero-content{
        max-width: 75%;
        margin: auto;
        padding: 30px;
        text-align: center;
        @media screen and (max-width:767px) {
            max-width: 100%;
            padding: 10px;
        }
        .colored-h2{
            color: #F99F09;
            font-weight: bold;
            margin: 25px 0px;
            @media screen and (max-width:767px) {
                margin: auto;
            }
        }
        .content-p{
            color: #E7E7E8;
        }
        .card{
            margin: 10px;
            border-radius: 15px;
            text-align: start;
            .card-body{
                padding: 2rem 2rem;
            }
            .content-p{
                color: #0D1114;
            }
            .link-orange{
                color: #F99F09;
            }
        }
    }    
}

// ******************headings orange and white
.orange_heading{
    text-align: left;
    font-family: $Menlo;
    font-style: normal;
    font-weight: bold;
    font-size: 31px;
    color: rgba(249,187,61,1);
    letter-spacing: -0.3px;
    text-align: center;
}
.white_heading{
    text-align: center;
    font-family: $Menlo;
    font-style: normal;
    font-weight: bold;
    font-size: 37px;
    color: rgba(255,255,255,1);
    text-transform: uppercase;
}   

// ************************brands carousel*******************
.brands-carousel{
    background-color: #0D1114;
    .brands-heading{
        padding: 20px 0px;
    }
    h2{
        color: #91979b;
    }
    .item{
        max-width: 25vw;
        height: 10vh;
        @media screen and (max-width:480px) {
            max-width: fit-content;

        }
        .brand_logos{
            height: 100%;
        }
    }
}

// ******************digital armory******

.digitalArmory-section{
    background-color: #0D1114;
    .content-container{
        width: 80%;
        margin: auto;
        // background-color: #5F7B90;
        min-height: max-content;
        // filter: blur(8px);
        backdrop-filter: blur(8px);
        background-color: rgba(255, 255, 255, 0.3);
        border-radius: 5px;
        text-align: center;
        border: 1px solid #DD8F21;
        border-radius: 12px;
        padding: 5%;
        .Home-page-banner_h2{
            color: #C8C8C8;
            font-weight: bold;
            font-size: 32px;
        }
        .Home-page-banner_colored_h3{
            color: #FA9F09;
            font-weight: bold;
            font-size: 36px;
            padding: 1vh 0vw;
        }
        .Home-page-banner_paragraph{
            color: #FFF;
            padding: 1vh 7vw;
            margin: auto;
            font-weight: 500;
        }
    }
}


// ***********************map-section****************

.map-section{
    background-color: #0D1114;
    .map-img{
        width: 100%;
        border-radius: 15px;
    }
    .iframe{
        width: 100%;
        height: 100%;
        border-radius: 15px;
    }
}

// ******************* d-Arms content img   ********************

.s_advisoryTeam{
    filter: drop-shadow(0px 12px 35px rgba(0, 0, 0, 0.494));
    background-color: #27343E;
    background-image: url('../assets/images/Metal-background-2-1030x546.png');
    background-position-x: -130%;
    background-repeat: no-repeat;
    background-position-y: -70%;
    background-attachment:fixed ;
    .innerSection{
       
    	
        padding: 20px;
       .items{
           border: 1px solid #F9BB3D;
           border-radius:15px ;
           background-color: rgba(255, 255, 255, 0.2);
           backdrop-filter: blur(8px);
           
        .armsContent{
            padding: 0px;
            
           
            
              .content{
                  padding: 40px;
                  display: grid;
                  align-items: center;
                  
                  
                  .heading{
                      font-family: $Menlo;
                      font-style: normal;
                      font-weight: bold;
                      @include fluid-type($min_width, $max_width, 24px, 30px);
                      color: rgba(249,187,61,1);
                      letter-spacing: -0.3px;
                      text-transform: uppercase;
                      padding-top: 10%;
                  }
                  .subHeading{
                      font-family: $Menlo;
                      font-style: normal;
                         font-weight: bold;
                         @include fluid-type($min_width, $max_width, 30px, 36px);
                      color: rgba(255,255,255,1);
                      padding-top: 4%;
                  }
                  .para{
                      font-family: $Karla;
                      font-style: normal;
                      font-weight: normal;
                      @include fluid-type($min_width, $max_width, 14px, 22px);
                      color: rgba(255,255,255,1);
                      padding-top: 6%;
                      .content-ul-list{
                        color:rgba(250,159,9,1);
                      }
                    }
                    .content-btn{
                        a{
                            border: 2px solid rgba(249,187,61,1);
                            color: rgba(249,187,61,1);
                        }
                    }  
              }
  
             
          }
          .border-radius-15{
            border-radius: 15px;
          }
          .armsImage1{
            border-radius: 0px 15px 0px 0px;
            @media screen and (max-width:991px) {
                border-radius: 0px;
            }             
          }
          .armsImage2{
            border-radius: 0px 0px 0px 15px;
            @media screen and (max-width:991px) {
                border-radius: 0px 0px 15px 15px;
            }             
          }
          .armsImage{
             padding: 0px;
             background-image: url(../images/Metal-background-2-1030x546.jpg);
             .armsImg{
               width: -webkit-fill-available;
               border-radius: 0px 15px 15px 0px ;
               @media only screen and (max-width: 991px) {
                border-radius: 0px 0px 15px 15px ;
              }
             }
             .daImg{
                width: 100%;
                // border-radius: 15px 0px  0px 15px  ;
                height: 100%;
                // @media only screen and (max-width: 991px) {
                //  border-radius:  15px 15px 0px 0px ;
                // }
            }
            .daImg-order1{
              border-radius: 15px 0px  0px 15px;
              @media only screen and (max-width: 991px) {
                  border-radius:  15px 15px 0px 0px;
                 }
            }
            .daImg-order2{
              border-radius: 0px 15px  15px 0px;
              @media only screen and (max-width: 991px) {
                  border-radius:  0px 0px 15px 15px;
                 }
            }
            .daImg-order-lg1{
                border-radius: 0px 15px  0px 0px;
                @media only screen and (max-width: 991px) {
                    border-radius:   0px;
                   }
            }
            .daImg-order-lg2{
                border-radius: 0px 0px  0px 15px;
                @media only screen and (max-width: 991px) {
                    border-radius:  0px 0px 15px 15px;
                   }
            }
          }
       }
    }
}


// *********************************  3-cards*************

.s_chooseWorkWithUs{
    background-color: #0D1114;
    background-image: url('../images/Metal-background-2-1030x546.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    .mask{
        background: rgb(91,89,94);
        background: linear-gradient(180deg, rgba(91,89,94,1) 0%, rgba(117,117,128,0.715941011235955) 49%, rgba(41,140,160,0) 100%);
        padding: 40px 0%;
        .career_cards{
            display: flex;
            justify-content: space-evenly;
            flex-wrap: wrap;
           
            .cards{
                background-color: rgba(255, 255, 255, 0.2);
                backdrop-filter: blur(8px);
                text-align: center;
                border: 1px solid #F9BB3D;
                max-width: 400px;
                margin: 5px;
                border-radius: 15px;
                display: flex;
                flex-direction: column;
                padding: 40px;
                .img_div{
                    padding: 5%;
                    .card_image{
                        
                        width: 100%;
                    }
                }
                .heading_h5{
                    text-align: center;
                    font-family: $Menlo;
                    font-style: normal;
                    font-weight: bold;
                    @include fluid-type($min_width, $max_width, 24px, 28px);
                    color: rgba(250,159,9,1);
                    letter-spacing: -0.3px;
                    text-transform: uppercase;
                
                }
                .card_para{
                    text-align: center;
                    font-family: $Karla;
                    font-style: normal;
                    font-weight: normal;
                    @include fluid-type($min_width, $max_width, 18px, 22px);
                    color: rgba(255,255,255,1)
                }
            }
        }
    }
}

// ********************  collab ******

.article-section{
    .collabPartners{
        @media screen and(max-width:767px) {
            display: none;
        }
    }
}

.s_collabSection{
    .brands-wo-carousel{
        @media screen and (max-width:767px) {
        display: none;
        }
    }
}

.s_collabSection{
    background: #27343E;
    padding: 5% 0%;
      
    .headingCollab{
        font-family: Menlo;
        font-style: normal;
        font-weight: bold;
        font-size: 36px;
        color: rgba(201,201,201,1);
        text-align: center;
        text-transform: uppercase;
        padding-top: 30px;
    }
   .collabPartners{
     
       display: flex;
       flex-wrap: wrap;
       justify-content: space-evenly;
       padding-top: 30px;
       @media screen and(max-width:767px) {
        display: none;
        }
    .brand_logos{
        width: 350px;
    }
   }
}

// ***************  roadmap section
.roadMap-section{
    // background-color:#1D1D1D;
    .vertical {
        width: 3px;
        top: 0;
        left: 50%;
        height: 100%;
        background-color: #fa9f09;
        position: absolute;
        z-index: -1;
    }
    .comment-box {
        position: relative;
        margin: 10% auto;
        width: 70%;
        padding: 3px 20px 3px 20px;
        @media screen and (max-width:480px) {
            width: 100%;
        }
        @media screen and (max-width:992px) {
            .roadmap-box {
                max-width: 100% !important;
            }
            .roadmap-box:nth-child(odd) {
                left: 0%; 
                margin: auto;
                margin-bottom: 10%;
                margin-top: 10%;
            }
            .roadmap-box:nth-child(odd)::before {
                left: 49.18% !important;
                top: -35px !important;
            }
            .roadmap-box:nth-child(even) {
                left: 0%;
                margin: auto;
            }
            .roadmap-box:nth-child(even)::before {
                left: 49.18% !important;
                top: -35px !important;
            }  
            .roadmap-box:nth-child(odd) {
                left: 0% !important;
            }  
            .roadmap-box .comment-odd {
                color: #F9AE24;
                position: absolute;
                top: -35px !important;
                left: 40% !important;
            }
            .roadmap-box .comment-even {
                position: absolute;
                color: #F9AE24;
                top: -35px !important;
                left: 55% !important;
            }
            .roadmap-box:nth-child(odd)::after {
                border-color: transparent !important;
            }
            .roadmap-box:nth-child(even)::after {
                border-color: transparent !important;
            }
        }
        // -----------------------------------
        .roadmap-box-heading{
            color: #DD8F21;
            position: absolute;
            margin: auto;
            top: -50px;
            left: 45.2%;
            @media screen and (max-width:1200px) {
                left: 46%;
                // top: -11%;
            }
            @media screen and (max-width:1096px) {
                left: 45.5%;
                // top: -11%;
            }
            @media screen and (max-width:991px) {
                left: 44.5%;
                // top: -11%;
            }
            @media screen and (min-width:1200px) {
                left: 46%;
                // top: -11%;
            }
            @media screen and (min-width:1400px) {
                left: 46.8%;
                top: -15%;
            }
        }
        .roadmap-box-heading::before{
            content: '';
            position: absolute;
            width: 15px;
            height: 15px;
            display: block;
            border: 10px solid #fa9f09;
            border-radius: 50%;
            background-color: #fa9f09;
            top: 100%;
            left: 37.5%;
        }
        // .roadmap-box-heading-2022{
        //     color: #DD8F21;
        //     position: absolute;
        //     margin: auto;
        //     top: -5%;
        //     left: 45.2%;
        //     @media screen and (max-width:1200px) {
        //         left: 45.5%;
        //         // top: -11%;
        //     }
        //     @media screen and (max-width:1096px) {
        //         left: 45.2%;
        //         // top: -11%;
        //     }
        //     @media screen and (min-width:1200px) {
        //         left: 46%;
        //         // top: -11%;
        //     }
        //     @media screen and (min-width:1400px) {
        //         left: 47%;
        //         top: -6%;
        //     }
        // }
        // .roadmap-box-heading-2022::before{
        //     content: '';
        //     position: absolute;
        //     width: 15px;
        //     height: 15px;
        //     display: block;
        //     border: 10px solid #fa9f09;
        //     border-radius: 50%;
        //     background-color: #fa9f09;
        //     top: 100%;
        //     left: 40%;
        // }
        .roadmap-box{
            backdrop-filter: blur(8px);
            background-color: rgba(0, 0, 0, 0.73);
            padding: 10px;
            font-size: 16px;
            position: relative;
            max-width: 45%;
            border-radius: 12px;
            border: 2px solid #DD8F21;
            @media screen and (max-wdth:1400px) {
                max-width: 55%;
            }
            .roadmap-ul{
                color: #fff;
                margin: auto;
            }
            .comment-odd{
                color: #F9AE24;
                position: absolute;
                top: 35%;
                left: -25%;
            }
            .comment-even{
                color: #F9AE24;
                position: absolute;
                top: 35%;
                left: 120%;
            }
        }
        .roadmap-box:nth-child(odd) {
            left: 55%;
        }
        .roadmap-box:nth-child(even) {
            right: 0;
        }
        .roadmap-box:nth-child(odd)::before , .roadmap-box:nth-child(even)::before{
            content: '';
            position: absolute;
            width: 10px;
            height: 10px;
            display: block;
            border: 6px solid #fa9f09;
            border-radius: 50%;
            background-color: #fa9f09;
            top: 40%;
            @media screen and (min-width:1400px) {
                width: 14px;
                height: 14px;
            }
        }
        .roadmap-box:nth-child(odd)::before {
            right: 109.5%;
            @media screen and (min-width:1400px) {
                right: 110%;
            }
        }
        .roadmap-box:nth-child(even)::before {
            left: 110.5%;
            @media screen and (min-width:1400px) {
                left: 110.5%;
            }
        }
        .roadmap-box:nth-child(odd)::after , .roadmap-box:nth-child(even)::after {
            content: '';
            position: absolute;
            border: solid 9px;
            top: 40%;
        }
        .roadmap-box:nth-child(odd)::after {
            right: 100.5%;
            border-color: transparent #0D1114 transparent transparent;
        }
        .roadmap-box:nth-child(even)::after {
            left: 100%;
            border-color: transparent  transparent transparent #0D1114;
        }
    }
    
}


// ********************   responsive queries     ****************
@media (min-width: 1600px){
    .container, .container-lg, .container-md, .container-sm, .container-xl, .container-xxl {
        max-width: 1520px !important;
    }
}
@media (min-width: 1700px){
    .container, .container-lg, .container-md, .container-sm, .container-xl, .container-xxl {
        max-width: 1620px !important;
    }
}
@media only screen and (max-width: 1699px) {
    .carousel .owl_custom-nav .owl_custom-prev {
        min-width: 50px;
    }
    .carousel .owl_custom-nav .owl_custom-next {
        min-width: 50px;
    }
    .carousel .owl_custom-nav .owl_custom-prev .btn-triangle-left {
        left: 10px;
    }
    .carousel .owl_custom-nav .owl_custom-next .btn-triangle-right{
        right: 10px;
    }
    .carousel .custom_slider {
        max-width: 95%;
    }
    .carousel #product_slider .carousel-card .carousel-card_container .carousel-footer_section .btn-hntr.btn-yellow .im-fluid {
        max-width: 20px;
    }
    .carousel #product_slider .carousel-card .carousel-card_container .carousel-footer_section .btn-hntr.btn-yellow span {
        font-size: 26px;
        margin-left: 5px;
        margin-top: 4px;
    }
    .carousel #product_slider .carousel-card .carousel-card_container .carousel-footer_section .product_price {
        font-size: 20px;
    }
    .carousel #product_slider .carousel-card .carousel-card_container .carousel-footer_section .btn-buynow.btn-red {
        font-size: 20px;
    }
    .carousel #product_slider .carousel-card .carousel-card_container .carousel-img_section .product_title {
        bottom: 10px;
        font-size: 25px;
    }
    .carousel #product_slider2 .carousel-card {
        padding: 35px 10px;
    }
    .carousel.partner_slider_section #partner_slider .partnerContentslider {
        padding: 30px 50px 750px;
    }
}
@media only screen and (max-width: 2600px) {
    .carousel.partner_slider_section #partner_slider .partnerContentslider {
        padding: 30px 50px 1000px;
    }
}
@media only screen and (max-width: 1920px) {
    .carousel.partner_slider_section #partner_slider .partnerContentslider {
        padding: 30px 50px 750px;
    }
}
@media only screen and (max-width: 1440px) {
    .carousel.partner_slider_section #partner_slider .partnerContentslider {
        padding: 30px 50px 600px;
    }
}

@media only screen and (max-width: 1390px) {
    .header-bar .navbar .nav-link {
        margin-right: 30px;
    }
}



@media only screen and (max-width: 1080px) {
    .header-bar .navbar .hntr-logo .brand-logo-img {
        max-width: 50px;
    }
    .header-bar .navbar .hntr-logo {
        font-size: 35px;
    }
    .header-bar .navbar .nav-link {
        padding: 20px 8px !important;
        font-size: 16px;
        margin-right: 8px;
    }
}

@media only screen and (max-width: 1000px) {
    .container-fullwidth .menu_header {
        padding: 0px;
    }
    .header-bar .navbar .hntr-logo {
        font-size: 30px;
    }
    .header-bar .site-logo {
        min-width: 250px;
        margin: 5px 0 16px 0;
    }
    .header-bar .navbar .hntr-logo .brand-logo-img {
        max-width: 40px;
        width: 100%;
    }
    ul.navbar-nav.ms-auto {
        margin-top: 25px;
        text-align: center;
    }
    .header-bar .navbar .active {
        color: #FA9F09 !important;
        border-bottom: none;
    }
    .header-bar .navbar .nav-link {
        padding: 15px 5px !important;
        width: 100%;
    }
    .d-flex.ms-lg-4 {
        margin-bottom: 30px;
    }
    div#navbarHunterWebsite {
        background: #000;
        margin-top: 10px;
        width: 100%;
        margin-left: -15px;
        margin-right: -15px;
    }
    .login_btn_section {
        width: 100%;
        display: block;
        text-align: center;
        margin-top: 20px;
    }
    .buy_hntr_section {
        width: 100%;
        display: block;
        text-align: center;
    }
    .d-flex.on_mobilecls {
        margin-bottom: 30px;
        display: block !important;
    }
    .carousel #product_slider .carousel-card {
        padding: 35px 10px;
    }
    .section_contact-us .contact_inner_section .contact_infor_section{
        border-radius: 20px 20px 0px 0px;
    }
    .section_contact-us .contact_inner_section .contact_form_section {
        border-radius:  0px 0px 20px 20px;
    }
    footer .col-xs-6 {
        max-width: 50%;
        float: left;
    }
    footer .footer-section {
        padding-bottom: 30px;
    }
}
@media only screen and (max-width: 768px) {
    .carousel.partner_slider_section #partner_slider .partnerContentslider {
        padding: 30px 50px 460px;
    }
}

@media only screen and (max-width: 600px) {
    .carousel .owl_custom-nav .owl_custom-prev {
        min-width: 28px;
    }
    .carousel .owl_custom-nav .owl_custom-next {
        min-width: 28px;
    }
    .carousel .owl_custom-nav .owl_custom-prev .btn-triangle-left {
        left: 7px;
    }
    .carousel .owl_custom-nav .owl_custom-next .btn-triangle-right{
        right: 7px;
    }
    .carousel .owl_custom-nav .owl_custom-prev .btn-triangle-left {
        border-top: 15px solid transparent;
        border-right: 10px solid #eeeeee;
        border-bottom: 15px solid transparent;
    }
    .carousel .owl_custom-nav .owl_custom-next .btn-triangle-right {
        border-top: 15px solid transparent;
        border-left: 10px solid #eeeeee;
        border-bottom: 15px solid transparent;
    }
    .section_contact-us .contact_inner_section {
        border: none;
        padding: 60px 10px;
    }
    .section_contact-us .contact_inner_section .contact_box_section .col {
        width: 100%;
        min-width: 100%;
    }
    footer .col-xs-6 {
        max-width: 50%;
        float: left;
    }
    .carousel.partner_slider_section #partner_slider .top_content_slider{
        padding: 0 20px;
    }
    .carousel.partner_slider_section #partner_slider .partnerContentslider {
        padding: 30px 10px;
        max-width: 100%;
        border: none;
    }
    .carousel.partner_slider_section .custom_slider, .carousel.partner_slider_section #partner_slider .partnerProdctlider {
        max-width: 100%;
        position: relative;
        bottom: 0;
    }
    .carousel.partner_slider_section #partner_slider .partnerContentslider .slick-prev {
        left: 0px;
        top: 50%;
    }
    .carousel.partner_slider_section #partner_slider .partnerContentslider .slick-next {
        right: 0px;
        top: 50%;
    }
    .carousel.partner_slider_section #partner_slider .carousel-card .carousel-card_container .carousel-footer_section {
        display: block !important;
        text-align: center;
    }
    .carousel.partner_slider_section #partner_slider .carousel-card .carousel-card_container .carousel-footer_section .btn-hntr.btn-yellow {
        width: auto;
        text-align: center;
        display: inline-block !important;
        margin-bottom: 10px;
    }
    .carousel.partner_slider_section #partner_slider .carousel-card .carousel-card_container .carousel-footer_section .btn-hntr.btn-yellow .im-fluid {
        width: auto;
        display: inline-block !important;
    }
    .carousel.partner_slider_section #partner_slider .carousel-card .carousel-card_container .carousel-footer_section .btn-hntr.btn-yellow span {
        display: inline-block !important;
        width: auto;
        margin-top: 12px;
    }
    .carousel.partner_slider_section #partner_slider .carousel-card .carousel-card_container .carousel-footer_section .product_price {
        display: inline-block;
        margin-bottom: 10px;
    }
    .carousel.partner_slider_section #partner_slider .carousel-card .carousel-card_container .carousel-footer_section .btn-buynow.btn-red {
        display: block !important;
        width: auto;
        max-width: 100px;
        text-align: center;
        margin: 0 auto 10px;
    }

}


@import 'who_we_are';
@import 'careers';
@import 'partners';
@import 'resources';
@import 'FAQ';
@import 'contact';
@import 'vision';
